body {
    background-color: #fefaf6;
    height: 100%;
    background: linear-gradient(90deg, white 3.2%, #fefaf6 3.2%);

}

/*BAGGRUNDEN SPLITTET I 2 https://stackoverflow.com/questions/14739162/two-tone-background-split-by-diagonal-line-using-css*/
#container {
  height: 100%;
  width: 100%;
position: absolute;
}

#triangle-topleft {
  width: 3vw;
  height: 50vw;
  border-top: 50vw solid white;
  border-right: 97vw solid transparent;
position: absolute;
}

/*LOGO*/
.fornavn,
.efternavn {
    font-family: helvetica;
    font-weight: bold;
    position: absolute;
    z-index: 1;
}

.fornavn {
    font-size: 3vw;
    right: 7vw;
    position: absolute;
}

.efternavn {
    font-size: 3.8vw;
    right: 11vw;
    top: 4vw;
    color: #e52024;
    position: absolute;


}

/*LINKS, MENU, NAV*/

#nav_forside a,
#nav_forside p{
    font-family: helvetica;
    font-size: 1vw;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    z-index: 2;

}


.aboutme_nav{
    position: absolute;
    left: 3vw;
    top: 2vw;
        width: 100%;

}
.contact_nav{
    position: absolute;
    left: 3vw;
        top: 6vw;

}
.portfolio_nav{
    position: absolute;
    left: 3vw;
        top: 25vw;

}
.year_nav{
    position: absolute;
    left: 3vw;
    top: 42vw;
        width: 100%;

}

.nav_back a{
    font-family: helvetica;
    font-size: 1vw;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    transform: rotate(270deg);
    top: 4vw;
}

.nav_back img{
    width: 2vw;
    position: absolute;
left: 3vw;
    top: -0.2vw;

}
/* unvisited link, a normal link */
.header nav a:link {
    color: black;
}

/* visited link, har besøgt */
header nav a:visited {
    color: black;
}

/* mouse over link, mus over link */
header nav a:hover {
    color: #e52024;
}

/* selected link, the moment it is clicked */
header nav a:active {
    color: #e52024;
}

/*PORTFOLIO 1*/
.portfolio1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4vw;
}

.billede1 img{
    flex-basis: 100px;
    flex-grow: 1;
    width: 40vw;
    margin: 2vw;
    filter: grayscale(100%);
}

.tekst1 {
    flex-basis: 100px;
    flex-grow: 1;
    font-family: helvetica;
    font-size: 1vw;
    text-decoration: none;
        margin: 2vw;
}

.tal1{
    font-family: helvetica;
    font-size: 11vw;
    text-decoration: none;
    position: absolute;
    color: #e52024;
    left: 5vw;
    top: 0vw;
    z-index: 30
}

.overskrift{
    font-weight: bold;
    font-size: 1.2vw;
}
