body {
    background-color: #fdf4ec;
    height: 100vh;
    background: linear-gradient(90deg, white 3.2%, #fefaf6 3.2%);
    margin: 0;

}

header {
    height: 0;
}

.main {
    margin-top: 28vw;
}

footer {
    font-family: helvetica;
    font-size: 1.7vw;
    text-align: center;
}

/*BAGGRUNDEN SPLITTET I 2 https://stackoverflow.com/questions/14739162/two-tone-background-split-by-diagonal-line-using-css*/
#container {
    width: 100%;
    position: fixed;
    z-index: -1;
}

#triangle-topleft {
    width: 3vw;
    height: 50%;
    border-top: 27vw solid white;
    border-right: 98vw solid transparent;
    position: fixed;
    margin-top: -15px;
}

#body {
    height: 100%;
}


/*LOGO*/

h1 {
    font-family: helvetica;
    font-weight: bold;
    font-size: 4.3vw;
    display: inline-block;
    margin: 0 -3px;
    cursor: pointer;

}

.efternavn {
    color: #e52024;
}

.logo {
    position: absolute;
    top: 3.6vw;
    left: 53vw;
    text-decoration: none;
    color: black;
}

/*LINKS, MENU, NAV*/
.hidden {
    transform: scale(0);
}

#menuknap {
    display: inline-block;
    width: 11vw;
    margin-top: 1.6vw;
}

#menuknap img {
    width: 100%;
}

#menu {
    list-style-type: none;
    transition: transform 1s;
    transform-origin: top left;
    font-family: helvetica;
    font-size: 3vw;
    font-weight: bold;
    line-height: 15vw;
    position: absolute;
    top: 6vw;
    background-color: white;
    z-index: 100;


}

#menu a {
    text-decoration: none;
    padding-right: 3vw;
    cursor: pointer;

}


.temaer a {
    text-decoration: none;
    cursor: pointer;

}

/* unvisited link, a normal link */
header nav a:link {
    color: black;
}

/* visited link, har besøgt */
header nav a:visited {
    color: black;
}

/* mouse over link, mus over link */
header nav a:hover {
    color: #e52024;
}

/* selected link, the moment it is clicked */
header nav a:active {
    color: #e52024;
}


/*FORSIDE*/

#splash_pic img {
    width: 100%;
}

#splash_pic {
    margin-top: 17vw;
}

/*TEMA GALLERY*/

.portfolio_overskrift {
    font-family: helvetica;
    font-weight: bold;
    font-size: 3.5vw;
    width: 100%;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 5vw 4vw 4vw 4vw;
    justify-content: space-between;
}

.gallery a {
    flex-basis: 250px;
    flex-grow: 1;
}

.tema1 {
    /*    height: 100%;*/
    margin: 1vw;
    position: relative;

}

.tema1 img {
    width: 100%;
}

/*OVERLAY*/
.image_tema1 {
    width: 100%
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.tema1:hover .overlay {
    opacity: 1;
}

.overlay_text {
    color: white;
    font-size: 20px;
    font-family: helvetica;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/*PORTFOLIO ALL*/

.overskrift_portfolio {
    margin-top: 30vw;
}

.overskrift_portfolio,
.underoverskfit_portfolio {
    font-family: helvetica;
    font-weight: bold;
    margin-left: 6vw;
}

.underoverskfit_portfolio a {
    color: #e52024;
    text-decoration: underline;
}

/* unvisited link, a normal link */
.underoverskfit_portfolio a:link {
    color: #e52024;
}

/* visited link, har besøgt */
.underoverskfit_portfolio a:visited {
    color: #e52024;
}

/* mouse over link, mus over link */
.underoverskfit_portfolio a:hover {
    color: black;
}

/* selected link, the moment it is clicked */
.underoverskfit_portfolio a:active {
    color: #e52024;
}

.tekst {
    display: flex;
    flex-wrap: wrap;
    margin: 6vw;
    text-align: left;
    font-family: helvetica;
    line-height: 5vw;
}

.billede {
    margin: 6vw;
}

.billede img {
    width: 100%;
}

.billede video {
    width: 100%;
    height: 100%;
}


/*ABOUT ME*/

.about_overskrift {
    width: 100%;
    text-align: center;
}

.about,
.me {
    font-family: helvetica;
    font-weight: bold;
    font-size: 3.5vw;
    display: inline-block;
}

.selfie img {
    width: 90%;
    margin: 4vw;
}

.about_wrapper {
    display: flex;
    flex-wrap: wrap;
}


.selfie {
    flex-basis: 300px;
    flex-grow: 1;
}

.about_tekst {
    flex-basis: 300px;
    flex-grow: 1;
    text-align: justify;
    margin: 2vw 10vw;
    font-family: helvetica;
}


/*CONTACT*/

.contact {
    font-family: helvetica;
    font-weight: bold;
    font-size: 3.5vw;
    width: 100%;
    text-align: center;
}

.contact_tekst {
    font-family: helvetica;
    font-size: 3vw;
    text-align: center;
}

.contact_tekst a {
    margin: 1.5vw;
    text-decoration: none;
}

.contact_tekst a img {
    width: 30px;
    cursor: pointer;
}

.upperpart_contact a {
    margin: 0;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}


/*MEDIAQUERY*/

@media only screen and (min-width: 769px) {


    #menuknap {
        display: none;
    }

    /* center logo:   https://robots.thoughtbot.com/positioning*/
    .logo {
        position: absolute;
        left: 50%;
        top: -3.5vw;
        margin-left: -22.8vw;
    }

    h1 {
        margin-top: 5vw;
        font-size: 5vw;
    }

    .efternavn {
        margin-left: -10px;
    }


    #menu {
        transform: none;
        transition: transform 0s;
        padding: 0vw;
        margin-top: 1vw;
        position: static;
        background-color: transparent;
        line-height: 5.5vw;


    }

    #menu a {
        padding-right: 0;
    }



    #menu li {
        display: inline-block;
        font-size: 1.2vw;

    }

    /* nth = number */
    #menu li:nth-child(2) {
        margin-left: 7vw;
        margin-right: 4vw;
    }

    #menu li:nth-child(4) {
        margin-left: 54.8vw;
    }

    #menu li:first-child {
        display: none;
    }

    .selfie img {
        margin-left: 1vw;
        margin-right: 10vw;

    }

    .about_tekst {
        margin-right: 1vw;
        margin-left: 7vw;
        font-size: 1.3vw;
        margin-top: -3.1vw;
    }

    .about_overskrift {
        display: inherit;
        position: relative;

    }

    .me {
        position: absolute;
        left: 54.6vw;
        top: -6vw;
    }

    .about {
        position: absolute;
        left: 40vw;
        top: -11.5vw;

    }

    .about_wrapper {
        margin-top: 31vw;
    }

    .contact_tekst {
        font-size: 1.5vw;
        text-align: justify;
        margin-left: 39vw;

    }

    h2 {
        font-size: 4.7vw;
    }

    .contact_tekst a {
        text-decoration: none;
    }

    .contact_tekst a img {
        width: 40px;
        margin: -1vw;
    }


    /*portfolio*/

    .portfolio_wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: -2vw;
    }

    .tekst {
        flex-basis: 200px;
        flex-grow: 1;
        margin: 2vw;
        margin-left: 6vw;
        text-align: left;
        line-height: 1.8vw;
    }

    .billede {
        flex-basis: 500px;
        flex-grow: 1;
        margin: 3.4vw 6vw 2vw 2vw;
    }

    .billede video {
        height: auto;
    }

    footer {
        font-size: 1vw;
    }

}
